extends ../../layouts/admin
block content 
    seaction#expertises-category-create.expertises-category-create
        header.expertises-category-create__header 
            .expertises-category-create__header-title
                h1 create a new expertises category
        main.expertises-category-create__main
            form(method="POST", action="/expertises/category/create")
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='name') Name
                    .col-sm-10
                        input#name.form-control(type='text', name='name', placeholder='Enter expertises category name' required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='description') Description
                    .col-sm-10
                        input#description.form-control(type='text', name='description', placeholder='Enter description' required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='location') Location
                    .col-sm-10
                        input#location.form-control(type='number', name='location', placeholder='Enter expertises category location' required)
                .is-devider-20
                .mb-3.row
                    label.col-sm-2.col-form-label
                    .col-sm-10
                        a.btn.btn-primary.me-4(href='/me/stored/expertises/categories') Close
                        button.btn.btn-primary(type='submit') Create
