extends ../layouts/common
block content 
    seaction#award-create.award-create
        header.award-create__header 
            nav.nav
                a(href="/").nav-link portfolio
            .award-create__header-title
                h1 create a new award
        main.award-create__main
            form(method="POST", action="/awards/create")
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='name') Name
                    .col-sm-10
                        input#name.form-control(type='text', name='name', placeholder='Enter award name' required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='subject') Level/Subject
                    .col-sm-10
                        input#subject.form-control(type='text', name='subject', placeholder='Enter award level/subject (Ex: Faculty Level, Chess...)' required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='prize') Prize
                    .col-sm-10
                        input#prize.form-control(type='text', name='prize', placeholder='Enter award prize (Ex: Achieved, Golden...)' required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='year') Year
                    .col-sm-10
                        input#year.form-control(type='number', name='year', placeholder='Enter award year' required)
                .is-devider-20 
                .mb-3.row
                    label.col-sm-2.col-form-label
                    .col-sm-10
                        a.btn.btn-primary.me-4(href='/me/stored/awards') Close
                        button.btn.btn-primary(type='submit') Create
