@import "variables";

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Sequel";
    font-style: normal;
    font-weight: 800;
    src: local("Sequel"), url("/src/public/fonts/Sequel-Bold.otf") format("otf");
}

body {
    background: $black-background-color;
    color: $white-color;
    font-size: 16px;
    font-family: "Sequel", sans-serif;
    font-weight: weight(bold);

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(180, 188, 195);
        border-radius: 20px;
        border: 3px solid rgb(180, 188, 195);
    }

    .app {
        .header {
            padding: 1.875rem 1.875rem;
            justify-content: space-between;
            @include flexCenter;

            &__logo {
                @include flexCenter;

                img {
                    margin-right: 20px;
                }

                &:hover {
                    .header__brand {
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
                }
            }

            &__brand {
                color: $white-color;
                font-weight: weight(bold);
                text-transform: uppercase;
                letter-spacing: 0.2em;
                transform: translateX(50px);
                transition: all 0.5s ease;
                opacity: 0;
                visibility: hidden;
            }

            &__nav {
                &:hover {
                    .header__nav-link::after {
                        transform: scaleX(1);
                        transform-origin: center left;
                    }
                }
            }

            &__nav-link {
                color: $white-color;
                font-size: 0.775rem;
                font-weight: weight(medium);
                font-family: "Oswald", sans-serif;
                text-transform: uppercase;
                line-height: 1;
                letter-spacing: 0.5em;
                display: inline-block;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    width: calc(100% - 0.5em);
                    height: 40%;
                    position: absolute;
                    z-index: -1;
                    top: 60%;
                    left: 0;
                    background-color: #444;
                    transform: scaleX(0);
                    transform-origin: center right;
                    transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
                }
            }
        }

        .portfolio {
            &__header {
                @include flexCenter;
                min-height: 550px;
                position: relative;

                &-title {
                    max-width: 100rem;
                    padding-right: 3.75rem;
                    padding-left: 3.75rem;

                    h1 {
                        font-size: 5.575rem;
                        font-weight: weight(bold);
                        text-transform: uppercase;
                        line-height: 0.8;
                        letter-spacing: -6px;
                    }
                }
            }

            &__main {
                max-width: 100rem;
                padding-right: 3.75rem;
                padding-left: 3.75rem;

                &-project {
                    .card {
                        position: relative;
                        width: 445px;
                        height: 445px;
                        border: none;
                        border-radius: 0;
                        cursor: pointer;
                        overflow: hidden;

                        &:hover {
                            .card-img-overlay {
                                background: unset;
                            }
                            .card-img {
                                transform: scale(1);
                            }
                            .card-title {
                                background: linear-gradient(
                                    to right,
                                    #095fab 10%,
                                    #25abe8 50%,
                                    #57d75b 60%
                                );
                                background-size: auto auto;
                                background-clip: border-box;
                                background-size: 200% auto;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                animation: textclip 1.5s linear infinite;
                            }
                        }

                        &-img {
                            transform: scale(1.2);
                            transition: all 0.5s ease;
                        }

                        &-img-overlay {
                            @include flexCenter;
                            justify-content: center;
                            background: rgb(26, 26, 26);
                            transition: all 0.5s ease;

                            .card-title {
                                text-transform: uppercase;
                                letter-spacing: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
