extends ../../layouts/admin
block content 
    seaction#system-info-create.system-info-create
        header.system-info-create__header 
            .system-info-create__header-title
                h1 create a new system info
        main.system-info-create__main
            form(method="POST", action="/system/info/create")
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='field') Field
                    .col-sm-10
                        input#field.form-control(type='text', name='field', placeholder='Enter system info field' required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='value') Value
                    .col-sm-10
                        input#value.form-control(type='text', name='value', placeholder='Enter system info value' required)
                .is-devider-20 
                .mb-3.row
                    label.col-sm-2.col-form-label
                    .col-sm-10
                        a.btn.btn-primary.me-4(href='/me/stored/system/info') Close
                        button.btn.btn-primary(type='submit') Create
