@font-face {
  font-family: "Sequel";
  src: url("/src/public/fonts/Sequel.ttf") format("truetype"); }

body {
  font-family: "Sequel", sans-serif; }

h1 {
  font-weight: 800;
  font-size: 4.2vw;
  text-transform: uppercase;
  line-height: 0.9; }
