extends ../layouts/common
block content 
    seaction#contact-edit.contact-edit
        header.contact-edit__header 
            nav.nav
                a(href="/").nav-link portfolio
            .contact-edit__header-title
                h1 edit contact 
        main.contact-edit__main
            form(action=`/contacts/${contact._id}?_method=PUT`, method="POST")
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='field') Field
                    .col-sm-10
                        input#field.form-control(type='text', name='field', placeholder='Enter contact field (Ex: email)' value=contact.field required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='sign') Sign
                    .col-sm-10
                        input#sign.form-control(type='text', name='sign', placeholder='Enter contact sign (Ex: em)' value=contact.sign required)
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='value') Value
                    .col-sm-10
                        input#value.form-control(type='text', name='value', placeholder='Enter contact value (Ex: demo@gmail.com)' value=contact.value required)
                .is-devider-20 
                .mb-3.row
                    label.col-sm-2.col-form-label
                    .col-sm-10
                        a.btn.btn-primary.me-4(href='/me/stored/contacts') Close
                        button.btn.btn-primary(type='submit') Save
