.is-devider-200
footer.footer
    .footer__contact 
        .footer__contact-title.mb-2 get in touch 
        .footer__contact-socials
            //- each contact in contacts
            //-     if contact.field !== 'email'
            //-         a(href=contact.value, class=contact.sign, target='_blank')=contact.sign
            a(href="/").ln ln
            a(href="/").gh gh
        .is-devider-100
        .footer__contact-more Want to move forward?
            br
            //- each contact in contacts
            //-     if contact.field === 'email'
            //-         a(href=`mailto:${contact.value}`) Drop a line.
.to-top.text-end 
    span back to top
.is-devider-200  