header.header
    a(href="/").header__logo
        img(src="https://minhhoang6920.web.app/assets/image/logo.png", alt="", width="45")
        span.header__brand Minhhoang
    .nav-mobile-icon
        i.fas.fa-bars
    .nav-overlay
    nav.nav
        .nav-mobile-icon-close
            i.fas.fa-times
        ul.nav-list.d-flex.align-items-center.m-0
            li.nav-item
                a(href="/").nav-link portfolio
            li.nav-item
                a(href="/about").nav-link about
            li.nav-item
                if user
                    .dropdown
                        button#dropdownMenuUser.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false')
                            | #{user.name}
                        ul.dropdown-menu.mt-2.shadow(aria-labelledby='dropdownMenuUser')
                            if user.role
                                li
                                    a.dropdown-item(href='/me/stored/awards') Stored Awards
                                li
                                    a.dropdown-item(href='/me/stored/contacts') Stored Contacts
                                li
                                    a.dropdown-item(href='/me/stored/educations') Stored Educations
                                li
                                    a.dropdown-item(href='/me/stored/experiences') Stored Experiences
                                li
                                    a.dropdown-item(href='/me/stored/expertises/categories') Stored Experiences Categories
                                li
                                    a.dropdown-item(href='/me/stored/expertises/1') Stored Expertises
                                li
                                    a.dropdown-item(href='/me/stored/projects') Stored Projects
                                li
                                    a.dropdown-item(href='/me/stored/system/info') Stored System Info
                                li
                                    hr.dropdown-divider
                                li
                                    form(action='/auth/logout', method='get')
                                        button.dropdown-item Logout
                            else
                                li
                                    form(action='/auth/logout', method='get')
                                        button.dropdown-item Logout
                else
                    a(href="/auth/login").nav-link login