header.header
    a(href="/").header__logo
        img(src="https://minhhoang6920.web.app/assets/image/logo.png", alt="", width="45")
        span.header__brand Minhhoang
    nav.nav
        ul.d-flex
            li.nav-item
                a(href="/").nav-link portfolio
            li.nav-item
                a(href="/about").nav-link about
            li.nav-item
                if user
                    a(href="/auth/login").nav-link= user.name
                else
                    a(href="/auth/login").nav-link login