extends ./layouts/common
block content  
    section#about.about
        header.about__header 
            nav.nav
                a(href="/").nav-link portfolio
            .about__header-title
                h1 
                    .line COMPETITION
                    .line AND CREATIVITY
                    .line RUNS HARD IN
                    .line HIS VEINS.
        main.about__main
            .about__main-content
                .row 
                    .col-md-7
                        p a
                    .col-md-5
                        p a