extends ./layouts/common
block content   
    section#portfolio.portfolio
        header.portfolio__header 
            .portfolio__header-title
                h1 
                    .line SHIFTING BRANDS FROM
                    .line GIVING UP TO MOVING
                    .line FORWARD.
    
        main.portfolio__main
            .portfolio__main-project
                .row    
                    .col-md-4
                        .card.bg-dark.text-white
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui

                    .col-md-4
                        p abc
                    .col-md-4
                        p abc

