extends ./layouts/common
block content   
    section#portfolio.portfolio
        header.portfolio__header 
            nav.nav
                a(href="/about").nav-link about
            .portfolio__header-title
                h1 
                    .line SHIFTING BRANDS FROM
                    .line GIVING UP TO MOVING
                    .line FORWARD.
        main.portfolio__main
            .portfolio__main-project
                .row    
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
            .is-devider-200
            .portfolio__main-brand
                span.currently currently
                .card.bg-dark.text-white(href="/")
                    img.card-img(src='../img/banner.jpg', alt='...')
                    .card-img-overlay
                        h1.card-title 
                            span helping
                            span brands win.
                        p.card-text 
                            a(href="/") visit ad client
            .is-devider-200