extends ./layouts/common
block content   
    section#portfolio.portfolio
        header.portfolio__header 
            .portfolio__header-title
                h1 
                    .line SHIFTING BRANDS FROM
                    .line GIVING UP TO MOVING
                    .line FORWARD.
    
        main.portfolio__main
            .portfolio__main-project
                .row    
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
                    .col-md-4
                        a.card.bg-dark.text-white(href="/")
                            img.card-img(src='https://www.anthonydesigner.com/static/da0f57ff1496bb0354fa8bcec3ca0673/78cc5/motiv.webp', alt='...')
                            .card-img-overlay
                                h1.card-title dashboard ui
            .is-devider-200
            .portfolio__main-brand
                span.currently currently
                .card.bg-dark.text-white(href="/")
                    img.card-img(src='https://scontent.fdad2-1.fna.fbcdn.net/v/t1.6435-9/p960x960/118799486_1249997542012105_2758614761633104289_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=e3f864&_nc_ohc=ojnkb44mYDMAX98ORW5&_nc_ht=scontent.fdad2-1.fna&oh=7db8075cfb12271689fc7324a82c7419&oe=614411A4', alt='...')
                    .card-img-overlay
                        h1.card-title 
                            span helping
                            span brands win.
                        p.card-text 
                            a(href="/") visit ad client
            .is-devider-200