extends ../layouts/admin
block content 
    seaction#project-create.project-create
        header.project-create__header 
            .project-create__header-title
                h1 create a new project
        main.project-create__main
            form(method="POST", action="/projects/create")
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='name') Name
                    .col-sm-10
                        input#name.form-control(type='text', name='name', placeholder='Enter project name' required)
                .is-devider-20
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='banner') Banner
                    .col-sm-10
                        input#banner.form-control(type='text', name='banner', placeholder='Enter project banner' required)
                .is-devider-20
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='description') Description
                    .col-sm-10
                        input#description.form-control(type='text', name='description', placeholder='Enter project description')
                .is-devider-20 
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='urlWeb') Url Website
                    .col-sm-10
                        input#urlWeb.form-control(type='text', name='urlWeb', placeholder='Enter project url website')
                .is-devider-20
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='urlGit') Url Github
                    .col-sm-10
                        input#urlGit.form-control(type='text', name='urlGit', placeholder='Enter project url github')
                .is-devider-20
                .mb-3.row.align-items-center
                    label.col-sm-2.col-form-label(for='location') Location
                    .col-sm-10
                        input#location.form-control(type='number', name='location', placeholder='Enter project location in UI' required)
                .is-devider-20 
                .mb-3.row
                    label.col-sm-2.col-form-label
                    .col-sm-10
                        a.btn.btn-primary.me-4(href='/me/stored/projects') Close
                        button.btn.btn-primary(type='submit') Create
